body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

main {
  flex: 1;
  padding: 30px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2 {
  color: #333;
  margin-bottom: 20px;
}

.pending {
  background-color: #ffeeba;
}

.admin {
  color: red;
}

.status-approved {
  color: green;
  font-weight: bold;
}

.status-pending {
  color: orange;
  font-weight: bold;
}

.status-rejected {
  color: red;
  font-weight: bold;
}

table {
  width: 100%;
  max-width: 1000px;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.odobri {
  background-color: green;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.odobri:hover {
  background-color: #008000;
}

.odbij {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.odbij:hover {
  background-color: #ff6600;
}

.obrisi {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.obrisi:hover {
  background-color: #cc0000;
}
