<nav>#navigacija#</nav>
<main>
    <header>
        <h1>Admin Panel</h1>
    </header>
    <section id="zahtjevi">
        <h2>Zahtjevi za pristup</h2>
        <table>
            <thead>
                <tr>
                    <th>Korisničko ime</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Akcija</th>
                </tr>
            </thead>
            <tbody id="tabelaZahtjeva"></tbody>
        </table>
    </section>

    <section id="listaKorisnika">
        <h2>Lista svih korisnika</h2>
        <table>
            <thead>
                <tr>
                    <th>Korisničko ime</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Akcija</th>
                </tr>
            </thead>
            <tbody id="tabelaKorisnika"></tbody>
        </table>
    </section>
</main>
<footer>
    &copy; 2025 Karlo Mišić. Sva prava zadržana.
</footer>